<table class="experience">
  <tbody>
    <tr>
      <td>
        <img width="50" src="assets/img/sjtu-logo.png">
      </td>
      <td>
        <font color="black"><b>Shanghai Jiao Tong University, China</b></font>
        <br>
        Sep 2019 - Jun 2022, Master of Mechanical Engineering
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/sjtu-logo.png">
      </td>
      <td>
        <font color="black"><b>Shanghai Jiao Tong University, China</b></font>
        <br>
        Sep 2015 - Jun 2019, Bachelor of Mechanical Engineering
      </td>
    </tr>
  </tbody>
</table>
