<table class="experience">
  <tbody>
    <!-- !XYZ -->
    <tr>
      <td>
        <img width="50" src="assets/img/xyz-logo.webp">
      </td>
      <td>
        <font color="black"><b>Software Engineer on Motion Planning and Control</b></font>
        <br>
        Jun 2022 - Present, XYZ Robotics Inc., Shanghai, China
      </td>
    </tr>
    <!-- !Flexiv -->
    <tr>
      <td>
        <img width="50" src="assets/img/flexiv-logo.png">
      </td>
      <td>
        <font color="black"><b>Software Engineer Intern on Motion Planning</b></font>
        <br>
        Jul 2021 - Oct 2021, Shanghai Flexiv Robotics Technology CO., LTD, China
      </td>
    </tr>
    <!-- !UCLA -->
    <tr>
      <td>
        <img width="50" src="assets/img/ucla-logo.png">
      </td>
      <td>
        <font color="black"><b>Visiting Student</b></font>
        <br>
        Aug 2017 - Sep 2017, University of California, Los Angeles, US
      </td>
    </tr>
    <!-- !ND -->
    <!-- <tr>
      <td>
        <img width="50" src="assets/img/logo-nd-square.png">
      </td>
      <td>
        <font color="black"><b>University of Notre Dame, US</b></font>
        <br>
        Jun 2020 - Aug 2020, Research Intern
      </td>
    </tr> -->
  </tbody>
</table>
